server:
  port: 8091
  tomcat:
    max-http-form-post-size: "-1"
      
      
spring:
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp    
  datasource: # Mybatis dataSource 연결
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://weallridingdb.cwphiqxgn2ap.us-west-2.rds.amazonaws.com:3306/WeAllRiding?characterEncoding=utf-8
    username: admin
    password: weallriding
  mail:
    host: smtp.gmail.com
    port: 587
    username: weallriding1@gmail.com
    password: vnftmxor8@@
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  devtools: # 서버 자동 시작
    livereload:
      enabled: true
mybatis: 
  type-aliases-package: com.yosi.myapp #mybatis에서 팩키지 생략 할 수 있도록 설정
  mapper-locations: mapper/*Mapper.xml 
  configuration-map-underscore-to-camel-case: true