<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<mappers>
        <mapper resource="mapper/memberMapper.xml"></mapper>
        <mapper resource="mapper/shopMapper.xml"></mapper>
		<mapper resource="mapper/recommendMapper.xml"></mapper>
        <mapper resource="mapper/comtyMapper.xml"></mapper>
    	<mapper resource="mapper/comtyReplyMapper.xml"></mapper>
    	<mapper resource="mapper/ridingMapper.xml"></mapper>
    	<mapper resource="mapper/ridingReplyMapper.xml"></mapper>
    </mappers>
  </configuration>

