@charset "UTF-8";

main{
    display: flex;
    justify-content: center;
    align-items: center;
	height: 100vh;
    background-image: url("/images/home/home_background16.png");
    background-size: cover;
    background-attachment : fixed;
    padding:0;
}

.loginForm{
    width: 430px;
    height: 350px;
    padding: 20px;
    padding-left: 40px;
    align-items: center;
    margin:0 auto;
    background-color:rgba(255,255,255,0.6);
    border-radius: 15px;
}

.loginForm h1{
    font-size: 32px;
    color: #7B7673;
    margin-bottom: 50px;
    position: relative;
    left: 170px;
}

.input-area{
    width: 370px;
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
}

.input-area:first-child{
    margin-top: 0;
}

.input-area input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(0, 200, 200);
    font-size: 18px;
    color: rgb(0, 200, 200);
    outline: none;
}

.input-area label{
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 18px;
    color: rgb(0, 200, 200);
    transition: all .5s ease;
}

.input-area input:focus + label,
.input-area input:valid + label{
    top: -2px;
    font-size: 13px;
    color: rgb(0, 200, 200);

}

.login-btn{
    margin-top: 45px;
}

.login-btn button{
    width: 80%;
    height: 50px;
    background: #C13827;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    float: left;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 50px;
    opacity: 80%;
}

.bottom-menu{
    margin-top: 80px;
    text-align: center;
    color:#000;
}

.bottom-menu a {
    font-size: 15px;
    text-decoration: none;
    color:#000;
}

