main{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url("/images/home/home_background16.png");
    background-size: cover;
    background-attachment : fixed;
    padding:0;
}

.memberForm{
    width: 700px;
    height: 710px;
    padding: 20px;
    padding-left: 40px;
    align-items: center;
    margin:0 auto;
    background-color:rgba(255,255,255,0.9);
    position : relative;
    top:200px;
    border-radius: 15px;
}

.memberForm h3{
    position: relative;
    left: 220px;
    color: #313942;
}

.member-input{
    width: 250px;
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
    display: inline-block;
}

.member-input:first-child{
    margin-top: 0;
}

.member-input input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid#313942;
    font-size: 14px;
    color: #313942;
    outline: none;
}

.member-input label{
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 14px;
    color: #313942;
    transition: all .5s ease;
}

.member-input input:focus + label,
.member-input input:valid + label{
    top: -2px;
    font-size: 13px;
    color: #313942;
}

.radio{
    font-size: 15px;
    color: #999999;
    position: relative;
    left:385px;
    bottom:20px;
    margin-right: 9px;
}

.date{
    position: relative;
    left:335px;
    bottom:120px;
    font-size: 15px;
    color: #999999;
}

.userTel1{
    position: relative;
    left: 27px;
    bottom: -5px;
}

.tel{
    width: 196px;
    position: relative;
    left: 85px;
    bottom: 44px;
    display: inline-block;
}

.tel:first-child{
    margin-top: 0;
}

.tel input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #313942;
    font-size: 14px;
    color: #313942;
    outline: none;
}

.tel label{
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 14px;
    color: #313942;
    transition: all .5s ease;
}

.tel input:focus + label,
.tel input:valid + label{
    top: -2px;
    font-size: 13px;
    color: #313942;
}

.bikeType{
    font-size: 12px;
    color: #313942;
    position: relative;
    left: 34px;
    top: 45px;
}

.edit-btn{
    margin-top: 30px;
    margin-left: 50px;
    position: relative;
    bottom: 3vh;
    top: 65px;
}

.edit-btn button{
    width: 80%;
    height: 50px;
    background: #F6C90E;
    color:#313942;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    float: left;
    margin-bottom: 10px;
    margin-left: 30px;
    opacity: 80%;
}

.exit-btn{
    margin-top: 50px;
    margin-left: 50px;
    position: relative;
    bottom: 3vh;
    top: 65px;
}

.exit-btn button{
    width: 80%;
    height: 50px;
    background: #C13827;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    float: left;
    margin-bottom: 10px;
    margin-left: 30px;
    opacity: 80%;
    margin-top: 20px;
}

.push-number {
    position: relative;
    bottom: 82px;
    left: 355px;
}

.push-number:hover {
    color: white;
}

.confirm-number {
    position: relative;
    left: 220px;
    bottom: 95px;
}

.tel-2{
    width: 196px;
    position: relative;
    bottom: 35px;
    left: 26px;
    display: inline-block;
}

.tel-2:first-child{
    margin-top: 0;
}

.tel-2 input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #313942;
    font-size: 14px;
    color: #313942;
    outline: none;
}

.tel-2 label{
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 14px;
    color: #313942;
    transition: all .5s ease;
}

.tel-2 input:focus + label,
.tel-2 input:valid + label{
    top: -2px;
    font-size: 13px;
    color: #313942;
}