@charset "UTF-8";

main{
	width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/images/home/home_background16.png");
    background-size: cover;
    background-attachment : fixed;
}

.loginForm{
    width: 600px;
    height: 500px;
    padding: 20px;
    padding-left: 40px;
    align-items: center;
    margin:0 auto;
    background-color:rgba(255,255,255,0.6); 
    border-radius: 15px;
    position : relative;
	top:400px;
}
.loginForm h1{
    font-size: 32px;
    color: rgb(0, 215, 215);
    position: relative;
    left: 180px;
}

.memberId{
    width: 370px;
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
}

.input-area:first-child{
    margin-top: 0;
}

.input-area input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px;
    color: #fff;
    outline: none;
}

.input-area label{
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 18px;
    color: #999;
    transition: all .5s ease;
}

.input-area input:focus + label,
.input-area input:valid + label{
    top: -2px;
    font-size: 13px;
    color: #166cea;
}

.login-btn{
    margin-top: 30px;
}

.login-btn button{
    width: 80%;
    height: 50px;
    background: dodgerblue;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    float: left;
    margin-bottom: 10px;
    margin-left: 30px;
}

.bottom-menu{
    margin-top: 90px;
    text-align: center;
}

.bottom-menu a {
    font-size: 15px;
    color: black;
    text-decoration: none;
}
