@charset "UTF-8";

html, body, div, span, applet, object, iframes, h1, h2, h3, h4, h5, h6,
	p, blockquote, pre, a, abbr, acronym, address, big, quotes, code, del,
	dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, u,
	i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
	caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	do: inherit;
	vertical-align: baseline;
}
li {
	color: black;
}
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}

/* blockquote : before, blockquote : after, q : before, q : after {
	content: '';
	content: none;
} */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*css 초기화*/
.card {
	height: 400px;
	width: 30%;
	border-radius: 15px;
	display: inline-block;
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	overflow: hidden;
}

.card-header {
	-webkit-transition: 0.5s; /*사파리 & 크롬*/
	-moz-transition: 0.5s; /*파이어폭스*/
	-ms-transition: 0.5s; /*인터넷 익스플로러*/
	-o-transition: 0.5s; /*오페라*/
	transition: 0.5s;
	width: 100%;
	height: 270px;
	border-radius: 15px 15px 0 0;
	background-size: 100% 280px;
	background-repeat: no-repeat;
}

/* .card:hover .card-header  {
	opacity: 0.8;
	height: 100px;
}
 */
.card-header-is_closed {
	background-color: #EF5A31;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	float: right;
	margin: 15px 15px 0 0;
	border-radius: 50%;
	font-weight: bold;
	padding: 10px 10px;
	line-height: 20px;
}

h1 {
	font-size: 22px;
	font-weight: bold;
}

.card-body-header {
	line-height: 25px;
	margin: 10px 20px 0px 20px;
}

/* .card-body-description  {
    opacity: 0;
	color: #757B82;
    line-height: 25px;
    -webkit-transition: .2s ease-in-out; 사파리&크롬
    -moz-transition: .2s ease-in-out; 파이어폭스
    -ms-transition: .2s ease-in-out; 익스플로러
    -o-transition: .2s ease-in-out; 오페라
    transition : .2s ease-in-out;
    overflow: hidden;
	height: 180px;
	margin: 5px 20px;
} */

/* .card:hover .card-body-description {
    opacity: 1;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition : .5s ease-in-out;
    overflow: scroll;
} */
.card-body-hashtag {
	color: #2478FF;
	font-style: italic;
	
}

.card-body-footer {
	position: absolute;
	margin-top: 15px;
	margin-bottom: 6px;
	bottom: 0;
	width: 314px;
	font-size: 14px;
	color: #9FA5A8;
	padding: 0 15px;
}

.icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 2px;
}

.icon-view_count {
	width: 25px;
	height: 17px;
	background: url("images/eye.jpg") no-repeat;
}

.icon-comments_count {
	margin-left: 5px;
	width: 25px;
	height: 17px;
	background: url("images/comment.jpg") no-repeat;
}

.reg_date {
	float: right;
}

#ridingWriteBTN {
	height: 30px;
	border-radius: 6px;
}
#ridingListFrm {
	width: 80%;
	margin: 0 auto;
	padding: 0 auto;
	min-height: 1200px;
	height: 100%;
}

/* ---------------------RidingWrite----------------------------- */
.ridingContainer {
	font-size: 1.3em;
}

#newCourseBtn {
	background-color: rgba(255, 217, 102);
	padding: 10px 50px;
	margin: 0px;
	width: 250px; border-radius : 6px;
	border-color: rgba(204, 204, 204);
	border-radius: 6px;
}

#bestCourseBtn {
	font-weight: bold;
	background-color: rgba(156, 221, 125);
	padding: 10px 50px;
	margin: 0px;
	width: 250px;
	border-radius: 6px;
	border-color: rgba(204, 204, 204);
}

.ridingContainer {
	width: 80%;
	margin: 0 auto;
	padding: 0 auto;
}

#ridingSubject {
	width: 99%;
	height: 30px;
}
#ridingFrm  {
	min-height: 1600px;
	height: 100%;
}

#ridingFrm li {
	margin: 0px;
	padding: 10px 5px;
	color: black;
}

#ridingSubject {
	width: 99%;
	height: 30px;
}

#ridingKeyword {
	width: 99%;
	height: 30px;
}

#dateAll {
	float: left;
}

#dateAll input {
	margin-top:10px;
	width: 150px;
	height: 30px;
}

#courseLevel select {
	margin-top:10px;
	width: 100px;
	height: 30px;
}
#courseLevel {
	float: right;
}

#maxUser {
	float: right;
}

#maxUser select {
	margin-top:10px;
	width: 100px;
	height: 30px;
}


#ridingwriteBtn {
	background-color: rgba(255, 217, 102);
	padding: 10px 50px;
	margin: 0px;
	border-radius: 6px;
	border-color: rgba(204, 204, 204);
	float: right;
}

/* ridingView */

.ridingViewContainer {
	width: 80%;
	margin: 0 auto;
	padding: 0 auto;
}
#ridingViewFrm {
	background-color: rgba(234, 234, 234);
	font-size:0.8em;
	width: 100%;
	height: 25px;
	color: black;
	text-align: right;
	padding: 10px 0 10px;
}
#ridingViewTitle {
	font-size: 1.2em;
}
#mList {
	overflow: auto;
}
#mList>li {
	float: left;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	width: 10%;
	color: black;
}
#mList>li:nth-child(5n+2) {
	width: 50%;
	white-space: nowrap; /*줄 안바꿈*/
	overflow: hidden; /*넘친내용 숨기기*/
	text-overflow: ellipsis; /*넘침시 ...표시*/
}
#mList>li:nth-child(5n) {
	width: 20%;
}
#mListFirst {
	background-color: rgba(234, 234, 234);
}
#eList {
	overflow: auto;
}
#eList>li {
	float: left;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	width: 10%;
	color: black;
}
#eList>li:nth-child(7n+2) {
	width: 50%;
	white-space: nowrap; /*줄 안바꿈*/
	overflow: hidden; /*넘친내용 숨기기*/
	text-overflow: ellipsis; /*넘침시 ...표시*/
}
#eListFirst {
	background-color: rgba(234, 234, 234);
}
#vList {
	overflow: auto;
}
#vList>li {
	float: left;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	width: 10%;
	color: black;
}
#vList>li:nth-child(5n+2) {
	width: 60%;
	white-space: nowrap; /*줄 안바꿈*/
	overflow: hidden; /*넘친내용 숨기기*/
	text-overflow: ellipsis; /*넘침시 ...표시*/
}
#vListFirst {
	background-color: rgba(234, 234, 234);
}

#rList {
	overflow: auto;
}
#rList>li {
	float: left;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	width: 10%;
	color: black;
}
#rList>li:nth-child(7n+2) {
	width: 33%;
	white-space: nowrap; /*줄 안바꿈*/
	overflow: hidden; /*넘친내용 숨기기*/
	text-overflow: ellipsis; /*넘침시 ...표시*/
}

#rListFirst {
	background-color: rgba(234, 234, 234);
}
#reviewListText {
	width: 300px;
	padding: 10px 10px;
	margin: 5px;
	border-radius: 6px;
	border-color: rgba(204, 204, 204);
	float: left;
}
#reviewImg {
	float: left;
}
#reviewTextImg {
	display: block;
	width:100%;
	height:50px;
}
#ridingReviewComent {
	min-height: 400px; 
	width: 100%;
	border-radius: 6px;
	border-color: rgba(204, 204, 204);
}
#supportGo {
	width: 600px;
	height: 70px;
	float: right;
	border-top : none;
	border-left : none;
	border-radius: 6px;
	border-color: rgba(255, 255, 255);
	background-color: rgba(255, 217, 102);
	text-align: center;
	font-size: 1.1em;
}
.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  min-height: 100px;;
}
.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 400% auto;
  color: white;
  font-size:1.4em;
  font-weight:600;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px #eee;
  border-radius: 26px;
 }
 .btn:hover {
  background-position: right center; /* change the direction of the change here */
}
 .btn-4 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}
.btn-1 {
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}