.container{
    width:1000px;
    margin:0 auto;
    overflow:auto;
    position: absolute;
    top: 30%; left: 50%;
}
.container h1{
    font-size: 32px;
    color: #fff;
    text-align: center;
    margin-bottom: 60px;
}
li{
    color: black;
}