@charset "UTF-8";

/*--> 페이지 전체 공통 설정*/

/*너비 통일*/
body{
	width:100%;
	margin:0;
	padding:0;
}

/* 텍스트 강조효과 초기화*/
a{text-decoration:none;color:black;}
a:hover{text-decoration:none;color:black;}
a:visited{text-decoration:none;	color:black;}
a:linked{text-decoration:none;color:black;}

/*페이지 전체 공통 설정 <--*/

/*-> top.jspf*/
header{
	width : 100%;
	position:fixed;
}
header a, li{
	color : #ffffff;
}
header>img{
	height:10px; 
	width: 15px;
}
.top{
	font-size:20px;
	width:100%;
	height:100%;
	text-align:right;
	padding-right:150px;
	background:rgba(255, 192, 0, 1);
	height:25px;
	line-height:25px;
	transition-property: height, opacity,visibility;
  	transition-duration:0.3s,0.5s,0.5s;
  	transition-delay:0s,0s,0.7s;
  	transition-timing-function:ease-in-out;
}
.top.active{
	height: 0;
	opacity:0;
	visibility:none;
}
.nav{
	font-size:1.5em;
	width:100%;	
	height:140px;
	background:rgba(63, 63, 63, 0.7);
	transition-property:background, height;
  	transition-duration:0.3s;
  	transition-timing-function:ease-in-out;

}
.nav.active{
	top:0;
	z-index:100;
	height:100px;
	background:rgba(63, 63, 63, 0.9);
}
.logo{
	font-size: 25px;
    font-weight: 800;
    float:left;
}
.logo>img{
	width: 35px;
	height: 47px;
}
.mainMenu{
	margin-left:25%;
	/* line-height: 140px;
	height:140px; */
}
.mainMenu>ul{
	padding-top:70px;
	transition-property: padding-top;
  	transition-duration:0.3s;
  	transition-timing-function:ease-in-out;
}
.mainMenu>ul.active{
	padding-top:-70px;
}
.mainMenu li{
	text-align: center;
}
.mainMenu>ul,li{
	margin:0 auto;
	padding:0;
	list-style-type:none;
}
.mainMenu>ul>li{
	line-height:140px;
	width:150px;
	float: left;
}
ul[id^=topMenu]{
	font-size:0.8em;
	display:none;
	margin-left:-40px;
}
ul[id^=topMenu]>li{
	line-height:50px;
	width:150px;
	text-align: center;
}
/*top.jspf <-*/

/* -> main*/
main{
	min-height: 800px;
	padding-top: 165px;/*상단 메뉴와 컨텐츠가 겹치지 않게 padding부여*/
}
/* main <-*/

/*bottom*/
footer{
	background:rgba(255, 192, 0, 0.6);
	width: 100%;
	height: 80px;
	text-align: center;
	line-height: 80px;
}