@charset "UTF-8";
/* As hex codes */

:root{
	--main-gray : #dddddd;
	
	/* 진한 회색 */
	--color-gray-0: #343532;
	--color-gray-1: #4F5046;
	--color-gray-2: #292A27;
	--color-gray-3: #1E1E1C;
	--color-gray-4: #161714;
	
	/* 연한 회색 */
	--color-lightGray-0: #B7B6B7;
	--color-lightGray-1: #FBFBFB;
	--color-lightGray-2: #D6D6D6;
	--color-lightGray-3: #A09FA1;
	--color-lightGray-4: #908E91;
	
	/* 진한 노랑 */
	--color-yellow-0: #FF9808;
	--color-yellow-1: #E1AA5C;
	--color-yellow-2: #F7A838;
	--color-yellow-3: #FF9500;
	
	/* 진한 파랑 */
	--color-blue-0: #093A67;
	--color-blue-1: #124572;
	--color-blue-2: #0D3F6D;
	--color-blue-3: #063661;
	--color-blue-4: #05325A;
	
	/* ============= rgba ============= */
	

	/* 진한 */
	--rgba-gray-0:rgba( 52, 53, 50,1);
	--rgba-gray-1:rgba( 79, 80, 70,1);
	--rgba-gray-2:rgba( 41, 42, 39,1);
	--rgba-gray-3:rgba( 30, 30, 28,1);
	--rgba-gray-4:rgba( 22, 23, 20,1);
	
	--transperate-gray-05:rgba( 52, 53, 50,0.5);
	--transperate-gray-08:rgba( 52, 53, 50,0.8);
	
	/* 연한회색 */
	--rgba-lightGray-0:rgba(183,182,183,1);
	--rgba-lightGray-1:rgba(251,251,251,1);
	--rgba-lightGray-2:rgba(214,214,214,1);
	--rgba-lightGray-3:rgba(160,159,161,1);
	--rgba-lightGray-4:rgba(144,142,145,1);
	
	--transperate-lightGray-05:rgba(183,182,183,0.5);
	--transperate-lightGray-08:rgba(183,182,183,0.8);
	
	/* 진한 노랑 */
	--rgba-yellow-0:rgba(255,152,  8,1);
	--rgba-yellow-1:rgba(225,170, 92,1);
	--rgba-yellow-2:rgba(247,168, 56,1);
	--rgba-yellow-3:rgba(255,149,  0,1);
	
	--transperate-yellow-05:rgba(255,152,  8,0.5);
	--transperate-yellow-08:rgba(255,152,  8,0.8);
	
	/* 진한 파랑 */
	--rgba-blue-0:rgba(  9, 58,103,1);
	--rgba-blue-1:rgba( 18, 69,114,1);
	--rgba-blue-2:rgba( 13, 63,109,1);
	--rgba-blue-3:rgba( 6, 54, 97, 1);
	--rgba-blue-4:rgba(  5, 50, 90,1);
	
	--transperate-blue-05:rgba( 9, 58,103,0.5);
	--transperate-blue-08:rgba( 9, 58,103,0.8);
}

/*--> 페이지 전체 공통 설정*/

/*너비 통일*/
body{
	width:100%;
	margin:0;
	padding:0;
}

/* -> Home */
/* parallax 플러그인 */
.parallaxWindow
{
	max-height:465px; /* parallaxWindow 최대 높이 변경 */
    min-height:400px;
    background: transparent;
}


/* -> Home */
/* parallax 플러그인 */
.parallaxWindow
{
	max-height:465px; /* parallaxWindow 최대 높이 변경 */
    min-height:400px;
    background: transparent;
}

.home
{
	width: 100%;
	height: 465px;
	background: transparent;
}

.homeBackground
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

/* homeTitle 담고 있는 박스  */
.homeContent
{
	position: absolute;
	top: 300px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index:0;
}

/* homeTitle 텍스트 */
.homeTitle
{
	font-size: 72px;
	font-weight: 800;
	color: #FFFFFF;
	text-transform: uppercase;
	top:100px;
}
/*  Home <- */


/* 텍스트 강조효과 초기화*/
a{text-decoration:none;color:black;}
a:hover{text-decoration:none;color:black;}
a:visited{text-decoration:none;	color:black;}
a:linked{text-decoration:none;color:black;}

/*페이지 전체 공통 설정 <--*/

/*-> top.jspf*/
header{
	width : 100%;
	position:fixed;
	z-index:100;
}
header a, li{
	color : #ffffff;
}
header>img{
	height:10px; 
	width: 15px;
}
.top{
	font-size:20px;
	width:100%;
	height:100%;
	text-align:right;
	padding-right:150px;
	background:var(--transperate-gray-08);
	height:25px;
	line-height:25px;
	transition-property: height, opacity,visibility;
  	transition-duration:0.7s,0.6s,0.6s;
  	transition-delay:0s,0s,0.7s;
  	transition-timing-function:ease-in-out;
}
.top.active{
	height: 0;
	opacity:0;
	visibility:none;
}
#login, #logout, #admin{
	width:150px;
	float:left;
	margin-left:5px;
	margin-right:5px;
	color:#fff;
	position:relative;
	left: 70%;
    text-align: center;
	transition-property: background-color;
  	transition-duration:0.3s;
  	transition-delay:0s;
  	transition-timing-function:ease-in-out;
}
#login a, #logout a, #admin a{
	text-decoration: none;
	color:#fff;
}
#login:hover, #logout:hover, #admin:hover{
	background-color:var(--color-gray-0);
}


#login a:visited, #logout a:visited, #admin a:visited{
	text-decoration: none;
	color:#fff;
}


.navBar{
	font-size:1.5em;
	width:100%;	
	height:160px;
	background:var(--transperate-gray-05);
	transition-property:background, height;
  	transition-duration:0.5s;
  	transition-timing-function:ease-in-out;

}
.navBar.active{
	top:0;
	z-index:100;
	height:140px;
	background:var(--transperate-gray-08);
}
.logo{
	font-size: 25px;
    font-weight: 800;
    float:left;
    margin: 20px;
    margin-left: 50px;
}
.logo>img{
	width: 35px;
	height: 47px;
}
.mainMenu{
	margin-left:25%;
	/* line-height: 140px;*/
	height:100%; 
}

/* 
.mainMenu>ul>app{
	padding-top:70px;
	height:100%; 
	transition-property: padding-top;
  	transition-duration:0.5s;
  	transition-timing-function:ease-in-out;
}
.mainMenu>ul.active{
	padding-top:-80px;
}
.mainMenu li{
	text-align: center;
}
.mainMenu>ul,li{
	margin:0 auto;
	padding:0;
	list-style-type:none;
}
.mainMenu>ul>li{
	line-height:140px;
	width:150px;
	float: left;
}
ul[id^=topMenu]{
	font-size:0.8em;
	display:none;
	margin-left:-40px;
}
ul[id^=topMenu]>li{
	line-height:50px;
	width:150px;
	text-align: center;
} */
/*top.jspf <-*/
/* --> 상단 이미지 효과 */
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
/* 상단 이미지 효과 <-- */
/* -> main*/
main{
	width:100%;
	min-height: 1000px;
  	padding: 1% 0 1% 0;
	background-color:var(--color-lightGray-1);
}
/* main <-*/

/*bottom*/
footer{
	background: var(--color-gray-0);
	width: 100%;
	height: 120px;
	text-align: center;
	
}
footer .logo{
	position:relative;
	width:50%;
	float:left;
	margin:0;
	padding:10px;
	
}

footer .content{
	width:45%;
	position:relative; 
 	float:left;
 	margin:0;
	padding:10px;
}
.content .text{
	margin:0 auto;
	position:relative;
	height:70%;
	padding:10px 0 10px 0;
	float:center;
}
.content span{
	text-align:left;
	color:var(--color-lightGray-1);
	display:block;
	padding:10px;
}