@charset "UTF-8";

/*--> 페이지 전체 공통 설정*/

/*너비 통일*/
body{
	width:100%;
	margin:0;
	padding:0;
}

/* -> Home */
/* parallax 플러그인 */
.parallaxWindow
{
	max-height:465px; /* parallaxWindow 최대 높이 변경 */
    min-height:400px;
    background: transparent;
}


/* -> Home */
/* parallax 플러그인 */
.parallaxWindow
{
	max-height:465px; /* parallaxWindow 최대 높이 변경 */
    min-height:400px;
    background: transparent;
}

.home
{
	width: 100%;
	height: 465px;
	background: transparent;
}

.homeBackground
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

/* homeTitle 담고 있는 박스  */
.homeContent
{
	position: absolute;
	top: 300px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index:0;
}

/* homeTitle 텍스트 */
.homeTitle
{
	font-size: 72px;
	font-weight: 800;
	color: #FFFFFF;
	text-transform: uppercase;
	top:100px;
}
/*  Home <- */


/* 텍스트 강조효과 초기화*/
a{text-decoration:none;color:black;}
a:hover{text-decoration:none;color:black;}
a:visited{text-decoration:none;	color:black;}
a:linked{text-decoration:none;color:black;}

/*페이지 전체 공통 설정 <--*/

/*-> top.jspf*/
header{
	width : 100%;
	position:fixed;
	z-index:100;
}
header a, li{
	color : #ffffff;
}
header>img{
	height:10px; 
	width: 15px;
}
.top{
	font-size:20px;
	width:100%;
	height:100%;
	text-align:right;
	padding-right:150px;
	background:rgba(255, 192, 0, 1);
	height:25px;
	line-height:25px;
	transition-property: height, opacity,visibility;
  	transition-duration:0.7s,0.6s,0.6s;
  	transition-delay:0s,0s,0.7s;
  	transition-timing-function:ease-in-out;
}
.top.active{
	height: 0;
	opacity:0;
	visibility:none;
}
.navBar{
	font-size:1.5em;
	width:100%;	
	height:160px;
	background:rgba(63, 63, 63, 0.63);
	transition-property:background, height;
  	transition-duration:0.5s;
  	transition-timing-function:ease-in-out;

}
.navBar.active{
	top:0;
	z-index:100;
	height:140px;
	background:rgba(63, 63, 63, 0.9);
}
.logo{
	font-size: 25px;
    font-weight: 800;
    float:left;
    margin: 20px;
    margin-left: 50px;
}
.logo>img{
	width: 35px;
	height: 47px;
}
.mainMenu{
	margin-left:25%;
	/* line-height: 140px;*/
	height:100%; 
}

/* 
.mainMenu>ul>app{
	padding-top:70px;
	height:100%; 
	transition-property: padding-top;
  	transition-duration:0.5s;
  	transition-timing-function:ease-in-out;
}
.mainMenu>ul.active{
	padding-top:-80px;
}
.mainMenu li{
	text-align: center;
}
.mainMenu>ul,li{
	margin:0 auto;
	padding:0;
	list-style-type:none;
}
.mainMenu>ul>li{
	line-height:140px;
	width:150px;
	float: left;
}
ul[id^=topMenu]{
	font-size:0.8em;
	display:none;
	margin-left:-40px;
}
ul[id^=topMenu]>li{
	line-height:50px;
	width:150px;
	text-align: center;
} */
/*top.jspf <-*/
/* --> 상단 이미지 효과 */
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
/* 상단 이미지 효과 <-- */
/* -> main*/
main{
	width:80%;
	min-height: 1000px;
	margin : 0 auto;
}
/* main <-*/

/*bottom*/
footer{
	background:rgba(255, 192, 0, 0.6);
	width: 100%;
	height: 80px;
	text-align: center;
	line-height: 80px;
}