* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

/* 전체 텝 메뉴 크기 및 색상 */
.tab {
    float: left;
    background-color: #f1f1f1;
    width: 20%;
    height: 350px;
    position: relative;
    bottom: 150px;
    border: 2px solid grey;
}

/* 텝메뉴 버튼 스타일 */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 18px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 0.9em;
    position: relative;
}

/* 마우스 오버시 버튼 색 변경 */
.tab button:hover {
    background-color: #ddd;
}

/* 클릭되어 있을 때 색상 변경 */
.tab button.active {
    background-color: #ccc;
}

/* 탭 메뉴 내영 */
.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 80%;
    border-left: none;
    height: 500px;
    position: relative;
    bottom: 155px
}

/* top.bottom 숨김 */
header {
    display: none;
}

main {
    top: 0;
    margin-left: 10px;
    margin-right: 10px;
}
footer {
    display: none;
}
/* 숨김 끝 */

.top2 {
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.top3 {
    font-size: 2em;

}

.top3 img {
    margin-left: 10px;
}

.tabMenu {
    margin-top: 10px;
    text-align: center;
    position: relative;
    top: 26px;
}

.tabMenu li {
    font-size: 1.3em;
    color: #3d3d3d;
}