<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yosi.myapp.comty.ComtyReplyDAO">
	<insert id="comtyReplyWrite">
		insert into comtyReply(comtyNo, nickname, comtyReplyComent)
		values (#{comtyNo}, #{nickname}, #{comtyReplyComent})
	</insert>
	<select id="comtyReplyList" resultType="ComtyReplyVO">
		select comtyReplyNo, nickname, comtyReplyComent, comtyReplyWriteDate from comtyReply 
		where comtyNo=${param1}
		order by comtyReplyNo desc
	</select>
	<update id="comtyReplyEdit">
		update comtyReply set comtyReplyComent=#{comtyReplyComent} 
		where comtyReplyNo=${comtyReplyNo} and nickname=#{nickname}
	</update>
	<delete id="comtyReplyDel">
		delete from comtyReply where comtyReplyNo=#{param1} and nickname=#{param2}
	</delete>
</mapper>