<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yosi.myapp.comty.ComtyReplyDAO">
	<insert id="comtyReplyWrite">
		insert into comtyReply(comtyNo, nickname, comtyReplyComent)
		values (#{comtyNo}, #{nickname}, #{comtyReplyComent})
	</insert>
	<select id="comtyReplyList">
	
	</select>
	<update id="comtyReplyEdit">
	
	</update>
	<delete id="comtyReplyDel">
	
	</delete>
</mapper>