<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yosi.myapp.recommend.RecommendDAO">
	<select id="recommendCheck" resultType="int">
		SELECT COUNT(*)
		FROM recommend
		WHERE recNo=${param1}
	</select>
	<insert id="recommendInsert">
		INSERT INTO recommend(recTitle, recHashtag, recDescription, recLevel, recommendSendData)
		VALUES (#{recTitle},#{recHashtag},#{recDescription},#{recLevel},#{recommendSendData});
	</insert>
	<select id="recommendSelect" resultType="RecommendVO">
		SELECT recNo, recTitle, recHashtag, recDescription, recLevel, recommendSendData 
	    FROM recommend WHERE recNo=${param1};
	</select>
	
	<select id="recommendAllSelect" resultType="RecommendVO">
		select recNo, recTitle, recHashtag, recDescription, recLevel,recommendSendData
		from recommend order by recNo desc;
	</select>
	<update id="recommendUpdate">
		UPDATE recommend SET recTitle = #{recTitle}, recHashtag = #{recHashtag}, recDescription = #{recDescription}, recLevel = #{recLevel}, recommendSendData = #{recommendSendData}
		WHERE recNo = #{recNo}
	</update> 
	<delete id="recommendDelete">
		delete from recommend where recNo=#{param1}
	</delete>
	
	<select id="recommendList" resultType="RecommendVO">
		select recNo, recTitle, recHashtag, recDescription, recLevel, recommendSendData, date_format(recWritedate,'%m-%d %H:%i') recWritedate
		from recommend
		<if test='searchWord != null'>
			where ${searchKey} like '%${searchWord}%'
		</if>
		order by recNo desc
		limit ${onePageRecord} offset ${offsetIndex}
	</select>
	<select id="totalRecord" resultType="int">
		select count(recNo) cnt from recommend
		<if test='searchWord != null'>
			where ${searchKey} like '%${searchWord}%'
		</if>
	</select>
	
</mapper>