<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yosi.myapp.shop.ShopDAO">
	<select id="shopCheck" resultType="int">
		SELECT COUNT(*)
		FROM shop
		WHERE shopId=${param1}
	</select>
	<insert id="shopInsert">
		INSERT INTO shop(shopId, shopName, shopInfo, shopAuthors)
		VALUES (#{shopId}, #{shopName}, #{shopInfo}, #{shopAuthors});
	</insert>
	<select id="shopSelect" resultType="ShopVO">
		SELECT shopNo, shopId, shopName, shopInfo, shopAuthors FROM shop WHERE shopId=${param1}
	</select>
	<update id="shopUpdate">
		UPDATE shop SET shopInfo = #{shopInfo}, shopAuthors = #{shopAuthors} 
		WHERE shopId = #{shopId}
	</update>
	<select id="shopList" resultType="ShopVO">
		select shopId, shopName, shopInfo, shopAuthors
		from shop
		<if test='searchWord != null'>
			where ${searchKey} like '%${searchWord}%'
		</if>
		order by shopId desc
		limit ${onePageRecord} offset ${offsetIndex}
	</select>
		<select id="shopAllSelect" resultType="ShopVO">
		SELECT shopId, shopName, shopInfo, shopAuthors, writedate FROM shop
		order by shopId desc;
	</select>
	<select id="totalRecord" resultType="int">
		select count(shopId) cnt from shop
		<if test='searchWord != null'>
			where ${searchKey} like '%${searchWord}%'
		</if>
	</select>
		<delete id="shopDelete">
		delete from shop where shopId=#{param1}
	</delete>
</mapper>

